affinegap==1.11
asyncio==3.4.3
base58==2.0.0
canonicaljson==1.1.4
certifi==2020.4.5.1
chardet==3.0.4
frozendict==1.2
idna==2.9
numpy==1.18.5
pycryptodome==3.9.7
python-axolotl-curve25519==0.4.1.post2
python-dotenv==0.13.0
requests==2.23.0
simplejson==3.17.0
six==1.15.0
urllib3==1.25.9
